@media (max-width: 1199px) {
    header {
        .menu {
            width: 35%;
        }
    }

    .clients {
        max-width: 90%;
        flex-wrap: wrap;
        row-gap: 25px;
        justify-content: space-around;

        &__info {
            width: 100%;
        }

        &__icon {
            width: 120px;

            img {
                width: 100%;
            }
        }
    }

    .feedback {
        row-gap: 60px;

        &__item {
            &_descr {
                font-size: 12px;
            }
        }
    }

    footer {
        .basement {

            &__map {
                &_img {
                    width: 100%;
                }
            }

            &__navigation {
                &_title {
                    font-size: 16px;
                }

                &_descr {
                    margin-top: 25px;
                }
            }

            .footerNav {
                margin-top: 20px;

                &__item {
                    &_link {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }

            .social {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 991px) {
    header {
        .logo {
            height: 25px;
        }

        .menu {
            width: 35%;

            &__item {
                &_link {
                    font-size: 13px;
                }
            }
        }

        .info {
            width: 210px;

            &__ask {
                font-size: 12px;
                line-height: 12px;
            }

            &__connection {
                &_btn {
                    width: 87px;
                    height: 32px;
                    font-size: 12px;
                }

                &_tel {
                    font-size: 19px;
                }
            }
        }
    }

    .promo {
        &__domain {
            &__icon {
                width: 270px;
            }
        }
    }

    .clients {
        &__info {
            &_title {
                font-size: 30px;
            }

            &_descr {
                font-size: 12px;
            }
        }

        &__icon {
            width: 180px;

            img {
                width: 100%;
            }
        }
    }

    footer {
        .price {
            padding: 60px 0;

            &__descr {
                &_title {
                    font-size: 24px;
                }

                &_subtitle {
                    font-size: 16px;
                }
            }

            &__btn {
                width: 160px;
                height: 60px;
            }
        }

        .basement {

            &__map {
                width: 90%;

                &_img {
                    width: 80%;
                }
            }

            &__navigation {
                &_title {
                    font-size: 13px;
                    line-height: 8px;
                }

                &_descr {
                    margin-top: 13px;
                }
            }

            .footerNav {
                margin-top: 7px;

                &__item {
                    &_link {
                        a {
                            line-height: 10px;

                            font-size: 10px;
                        }
                    }
                }
            }

            .social {
                margin-top: 20px;
            }
        }

        .copyright {
            padding-bottom: 45px;
        }
    }
}

@media (max-width: 767px) {
    header {
        .logo {
            height: 13px;
        }

        .menu {
            width: 50%;

            &__item {
                &_link {
                    font-size: 10px;
                }
            }
        }

        .info {
            width: 20%;

            &__ask {
                font-size: 10px;
                line-height: 12px;
            }

            &__connection {
                flex-direction: column;

                &_btn {
                    width: 50px;
                    height: 22px;
                    font-size: 8px;
                }

                &_tel {
                    font-size: 11px;
                }

                &_vert {
                    height: 17px;
                    display: none;
                }
            }
        }
    }

    .promo {

        grid-template-areas:
            'present'
            'webhost'
            'domain'
            'feature';
        grid-template-columns: 1fr;

        &__present {

            &_title {
                line-height: 47px;
            }

            &_icon {
                width: 64px;
            }

            .formConnect {
                &_input {
                    max-width: 212px;
                    font-size: 13px;
                }

                &_domen {
                    font-size: 11px;
                }

                &__btn {
                    font-size: 10px;
                }
            }
        }

        &__webhost {
            &_icon {
                width: 105px;
            }

            &_title {
                line-height: 35px;
            }
        }

        &__domain {
            &_icon {
                width: 150px;
            }

            &_title {
                margin-top: 62px;
                line-height: 35px;
            }

            &_btn {
                margin-bottom: 105px;
            }
        }

        &__features {
            &_wrapper {
                gap: 2rem;
            }
        }
    }

    footer {
        .price {
            padding: 45px 15px;
            flex-direction: column;
            text-align: center;

            &__descr {
                margin-right: 0;

                &_title {
                    width: 100%;
                    font-size: 18px;
                }

                &_subtitle {
                    font-size: 12px;

                }
            }

            &__btn {
                margin-top: 12px;
                width: 120px;
                padding: 10px;
                height: 50px;
                font-size: 12px;
                line-height: 10px;
            }
        }

        .basement {
            flex-direction: column;
            padding: 50px 15px;

            &__map {
                &_img {
                    width: 95%;
                }
            }

            &__navigation {
                margin-top: 15px;
                text-align: center;
                width: 60%;

                &_nav {
                    flex-direction: row;
                }

                &_title {
                    font-size: 13px;
                    line-height: 8px;
                }

                &_descr {
                    margin-top: 13px;
                    text-align: center;
                }
            }

            .footerNav {
                margin-top: 7px;
                display: flex;
                justify-content: space-around;

                &__item {
                    &_link {
                        a {
                            line-height: 10px;

                            font-size: 10px;
                        }
                    }
                }
            }

            .social {
                margin-top: 20px;
            }
        }

        .copyright {
            padding-bottom: 45px;
        }
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;

        .logo {
            margin-top: 15px;
            height: 20px;
        }

        .menu {
            width: 90%;

            &__item {
                &_link {
                    font-size: 10px;
                }
            }
        }

        .info {
            width: 90%;

            &__ask {
                font-size: 10px;
                line-height: 12px;
            }

            &__connection {
                margin-top: 15px;
                justify-content: center;
                flex-direction: row;

                &_btn {
                    width: 60px;
                    height: 25px;
                    font-size: 10px;
                    margin-right: 20px;
                }

                &_tel {
                    font-size: 11px;
                }

                &_vert {
                    margin-right: 20px;
                    height: 17px;
                    display: block;
                }
            }
        }
    }

    .clients {
        &__info {
            &_title {
                font-size: 22px;
            }

            &_descr {
                font-size: 10px;
            }
        }
    }

    .promo {

        &__present {
            padding: 100px 0;

            &_title {
                font-size: 24px;
                line-height: 24px;
            }

            &_subtitle {
                font-size: 20px;
                margin-top: 20px;
            }

            &_icon {
                margin-top: 30px;
                width: 50px;
            }

            &_form {
                margin-top: 40px;
                width: 290px;
                height: 70px;
            }
        }

        .formConnect {
            &_input {
                width: 150px;
                height: 40px;
                font-size: 8px;
            }

            &_domen {
                width: 63px;
                height: 40px;
                font-size: 8px;
            }

            &__btn {
                width: 65px;
                height: 40px;
                font-size: 8px;
                line-height: 8px;
            }
        }

        &__webhost {
            padding: 0 40px;

            &_icon {
                margin-top: 95px;
            }

            &_title {
                font-size: 29px;
            }

            &_descr {
                font-size: 12px;
                line-height: 18px;
            }

            &_btn {
                margin-bottom: 85px;
            }
        }

        &__domain {
            padding: 0 40px;

            &_icon {
                margin-top: 95px;
            }

            &_title {
                font-size: 29px;
            }

            &_descr {
                font-size: 12px;
                line-height: 18px;
            }

            &_btn {
                margin-bottom: 85px;
            }
        }

        &__features {
            padding: 70px 0;

            &_title {
                font-size: 35px;
            }

            &_subtitle {
                font-size: 20px;
                margin-top: 10px;
            }
        }

        .features {
            margin-top: 30px;

            &__item {
                &_img {
                    width: 80px;
                }

                &_divider {
                    margin: 17px auto 17px auto;
                    width: 60px;
                }

                &_subtitle {
                    font-size: 20px;
                }

                &_descr {
                    font-size: 10px;
                    margin-top: 10px;
                    line-height: 18px;

                }
            }
        }
    }

    .feedback {
        &__item {
            width: 80%;
            margin-right: 0;
            margin-top: 10px;

            &_descr {
                font-size: 10px;
            }

            &_name {
                font-size: 12px;
            }

            &_photo {
                top: 85%;
                left: 70%;
                width: 70px;
            }
        }
    }


    .basement {
        &__map {
            &_img {
                width: 95%;
            }
        }
    }
}

@media (max-width: 320px) {}